<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#">MAIN</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">OFFER</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">FAQ</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
